.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.35rem;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;

  &:hover {
    cursor: pointer;
    letter-spacing: 3px;
  }
}
